Conocer documentación. Importar pandas

In [4]:
import pandas as pd

In [7]:
pd.__version__

'0.25.1'

Importamos neustra tabla con .read_csv

In [8]:
tabla = pd.read_csv('characters.csv')

In [9]:
tabla

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [10]:
tabla.shape

(87, 10)

In [12]:
tabla.tail(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [13]:
tabla.info

<bound method DataFrame.info of               name  height mass hair_color   skin_color eye_color birth_year  \
0   Luke Skywalker   172.0   77      blond         fair      blue      19BBY
1            C-3PO   167.0   75        NaN         gold    yellow     112BBY
2            R2-D2    96.0   32        NaN  white, blue       red      33BBY
3      Darth Vader   202.0  136       none        white    yellow    41.9BBY
4      Leia Organa   150.0   49      brown        light     brown      19BBY
..             ...     ...  ...        ...          ...       ...        ...
82             Rey     NaN  NaN      brown        light     hazel        NaN
83     Poe Dameron     NaN  NaN      brown        light     brown        NaN
84             BB8     NaN  NaN       none         none     black        NaN
85  Captain Phasma     NaN  NaN        NaN          NaN       NaN        NaN
86   Padmé Amidala   165.0   45      brown        light     brown      46BBY

    gender homeworld species
0     male  Tatooine   Human
1      NaN  Tatooine   Droid
2      NaN     Naboo   Droid
3     male  Tatooine   Human
4   female  Alderaan   Human
..     ...       ...     ...
82  female       NaN   Human
83    male       NaN   Human
84    none       NaN   Droid
85  female       NaN     NaN
86  female     Naboo   Human

[87 rows x 10 columns]>