Conocer documentación. Importar pandas

In [4]:
import pandas as pd

In [7]:
pd.__version__

'0.25.1'

#### Importamos nuestra tabla con .read_csv

In [8]:
tabla = pd.read_csv('characters.csv')

In [9]:
tabla

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [10]:
tabla.shape

(87, 10)

In [12]:
tabla.tail(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [13]:
tabla.info

<bound method DataFrame.info of               name  height mass hair_color   skin_color eye_color birth_year  \
0   Luke Skywalker   172.0   77      blond         fair      blue      19BBY
1            C-3PO   167.0   75        NaN         gold    yellow     112BBY
2            R2-D2    96.0   32        NaN  white, blue       red      33BBY
3      Darth Vader   202.0  136       none        white    yellow    41.9BBY
4      Leia Organa   150.0   49      brown        light     brown      19BBY
..             ...     ...  ...        ...          ...       ...        ...
82             Rey     NaN  NaN      brown        light     hazel        NaN
83     Poe Dameron     NaN  NaN      brown        light     brown        NaN
84             BB8     NaN  NaN       none         none     black        NaN
85  Captain Phasma     NaN  NaN        NaN          NaN       NaN        NaN
86   Padmé Amidala   165.0   45      brown        light     brown      46BBY

    gender homeworld species
0     male  Tatooine   Human
1      NaN  Tatooine   Droid
2      NaN     Naboo   Droid
3     male  Tatooine   Human
4   female  Alderaan   Human
..     ...       ...     ...
82  female       NaN   Human
83    male       NaN   Human
84    none       NaN   Droid
85  female       NaN     NaN
86  female     Naboo   Human

[87 rows x 10 columns]>

In [14]:
tabla.height

0     172.0
1     167.0
2      96.0
3     202.0
4     150.0
      ...
82      NaN
83      NaN
84      NaN
85      NaN
86    165.0
Name: height, Length: 87, dtype: float64

##### Utilizaremos describe() para obtener información rápida

In [16]:
tabla.height.describe()

count     81.000000
mean     174.358025
std       34.770429
min       66.000000
25%      167.000000
50%      180.000000
75%      191.000000
max      264.000000
Name: height, dtype: float64

In [19]:
tabla.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human

#### Para contar valores distintos

In [21]:
tabla.gender.value_counts()

male             62
female           19
none              2
hermaphrodite     1
Name: gender, dtype: int64

##### Para ordenar valores utilizamos sort_values()

##### Para ordenar toda la tabla:

In [23]:
tabla.sort_values(by-["homeworld","name"])

NameError: name 'by' is not defined

In [25]:
tabla.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
0,Luke Skywalker,172.0,77,blond,fair,blue,19BBY,male,Tatooine,Human
1,C-3PO,167.0,75,NaN,gold,yellow,112BBY,NaN,Tatooine,Droid
2,R2-D2,96.0,32,NaN,"white, blue",red,33BBY,NaN,Naboo,Droid
3,Darth Vader,202.0,136,none,white,yellow,41.9BBY,male,Tatooine,Human
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human

In [26]:
tabla.gender == "female"

0     False
1     False
2     False
3     False
4      True
      ...
82     True
83    False
84    False
85     True
86     True
Name: gender, Length: 87, dtype: bool

#### mandamos a llamar a la tabla donde el genero es femenino

In [27]:
tabla[tabla.gender == "female"]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species
4,Leia Organa,150.0,49,brown,light,brown,19BBY,female,Alderaan,Human
6,Beru Whitesun lars,165.0,75,brown,light,blue,47BBY,female,Tatooine,Human
26,Mon Mothma,150.0,NaN,auburn,fair,blue,48BBY,female,Chandrila,Human
40,Shmi Skywalker,163.0,NaN,black,fair,brown,72BBY,female,Tatooine,Human
43,Ayla Secura,178.0,55,none,blue,hazel,48BBY,female,Ryloth,Twi'lek
51,Adi Gallia,184.0,50,none,dark,blue,NaN,female,Coruscant,Tholothian
57,Cordé,157.0,NaN,brown,light,brown,NaN,female,Naboo,Human
60,Luminara Unduli,170.0,56.2,black,yellow,blue,58BBY,female,Mirial,Mirialan
61,Barriss Offee,166.0,50,black,yellow,blue,40BBY,female,Mirial,Mirialan
62,Dormé,165.0,NaN,brown,light,brown,NaN,female,Naboo,Human
66,Zam Wesell,168.0,55,blonde,"fair, green, yellow",yellow,NaN,female,Zolan,Clawdite
69,Taun We,213.0,NaN,none,grey,black,NaN,female,Kamino,Kaminoan
70,Jocasta Nu,167.0,NaN,white,fair,blue,NaN,female,Coruscant,Human
72,R4-P17,96.0,NaN,none,"silver, red","red, blue",NaN,female,NaN,NaN
75,Shaak Ti,178.0,57,none,"red, blue, white",black,NaN,female,Shili,Togruta
79,Sly Moore,178.0,48,none,pale,white,NaN,female,Umbara,NaN
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human
85,Captain Phasma,NaN,NaN,NaN,NaN,NaN,NaN,female,NaN,NaN
86,Padmé Amidala,165.0,45,brown,light,brown,46BBY,female,Naboo,Human

In [ ]:
tabla[(tabla.gender == "female") & (tabla.height < )]